.single-post, .blog, .archive, .search {
    // padding-top: 0;

    .page-title {
        margin-bottom: 1.5rem;
        color: $highlight
    }

    // Search Form
    .search-field {
        padding: 1rem;
        border: 2px solid $theme_blue;
    }

    .search-submit {
        padding: 1rem;
        background-color: $highlight;
        color: $white;
        border: 2px solid $theme_blue;

        &:hover {
            background-color: $theme_blue;
            cursor: pointer;
        }
    }

    .widget-title {
        color: $theme_blue;
        margin-bottom: 1rem;
    }

    .widget {
        li {
            margin-bottom: .5rem;
            
            a {
                color: $highlight;
                font-weight: bold;
            }
        }   
    }

    .comments-link {
        display: none;
    }

    .post-link {
        margin: 1rem 0 1rem 0;
        display: inline-block;
        font-weight: bold;
        text-decoration: none;
        color: $highlight;

        &:hover {
            color: $theme_blue;
        }
    }

    .byline {
        margin-top: 1rem;
    }

    .post-navigation {

        a {
            text-decoration: none;
        }
    }

    a {
        // color: $highlight;
        color: $theme_blue;
        text-decoration: none;

        &:hover {
            color: $theme_blue;
            color: $highlight;
        }
    }

    .entry-title {
        font-family: "FormaDJRDisplay",Helvetica,sans-serif;
        font-weight: bold;
        margin-bottom: 1rem;
        font-size: 2rem;
        padding: 0;
        color: $theme_blue;

        @include responsive(min-width, 600px) {
            font-size: 3.5rem;
        }

        h2 {
            &:hover {
                color: $highlight;
            }
        }
    }

    // .entry-title {

    //     a {
    //         font-size: 3.5rem;
    //         color: $theme_blue;

    //     &:hover {
    //         color: $highlight;
    //     }
    // }
    // }

    .entry-content {
        margin-top: 0;
        border-bottom: 10px solid $theme_blue;
    }

    blockquote {
        border-left: 10px solid $theme_blue;
        padding-left: 1.5rem;
        font-family: $micro;
        font-style: italic;
        font-size: 2rem;
        margin-bottom: 2rem;
        margin-top: 2rem;

        p {
            font-size: 1.625rem;
            margin-bottom: .5rem;
        }

        cite {
            font-family: $micro;
            font-style: italic;
            margin-bottom: .5rem;
            color: $theme_blue;
            font-weight: bold;
            font-size: 1.125rem;
        }
    }

    .entry-meta {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .byline {
            margin: 0;
            // font-weight: bold;
            margin-bottom: .5rem;
            display: block;
            color: $theme_blue;
        }

        .posted-on {
            margin: 0;
            // font-weight: bold;
            margin-bottom: 1rem;
            display: inline-block;
            color: $theme_blue;
    
            a {
                color: $highlight;
                color: $theme_blue;
                // text-decoration: underline;
    
                &:hover {
                    // color: $theme_blue;
                    color: $highlight;
                }
            }
        }
    }

    .entry-footer {
        color: $theme_blue;
        // font-weight: bold;
        padding: 1rem 0 1rem 0;
        display: flex;
        justify-content: space-between;

        .edit-link {
            margin-left: .5rem;
        }
    }
}


.single-post {
    h1 {
        font-family: "FormaDJRDisplay",Helvetica,sans-serif;
        font-weight: bold;
        margin-bottom: 1rem;
        font-size: 2rem;
        color: $main;
        padding: 0;
    }

    h2 {
        font-family: "FormaDJRDisplay",Helvetica,sans-serif;
        font-weight: bold;
        margin-bottom: 1rem;
        font-size: 2rem;
        color: $main;
        padding: 0;
    }

    h3 {
        font-family: "FormaDJRDisplay",Helvetica,sans-serif;
        font-weight: bold;
        margin-bottom: 1rem;
        font-size: 2rem;
        color: $main;
        padding: 0;
    }

    h4 {
        font-family: "FormaDJRDisplay",Helvetica,sans-serif;
        font-weight: bold;
        margin-bottom: 1rem;
        font-size: 2rem;
        color: $main;
        padding: 0;
    }

    p {
        font-family: $micro;
        font-weight: normal;
        font-size: 1rem;
        line-height: 1.5;
        margin-bottom: 1rem;
        padding: 0;
        color: $theme_blue;
    }
}

.blog-header {
    color: $white;
    text-align: center;
    height: 200px;
    display: flex;
    align-items: center;

    h1 {
        font-size: 5.375rem;
    }
}

.blog-wrap {
    background-color: $white;
    padding: 4rem 1rem 4rem 1rem;

    aside {
        .widget {
            ul {
                list-style-type: none;
            }
        }
    }
}

.content-area {
    background-color: $white;
    display: grid;
    grid-template-areas: "main" "sidebar";
    grid-template-columns: 1fr;
    grid-gap: 3rem;

    @include responsive(min-width, 768px) {
        grid-template-areas: "main sidebar";
        grid-template-columns: 2fr 1fr;
    }


    .entry-footer {
        background-color: $white;
    }

    .comment-meta {
        background-color: $white;
    }

    #main {
        grid-area: main;

        // .entry-title {
        //     margin-bottom: 1rem;
            
        //     a {
        //         font-size: 1.875rem;
        //         font-weight: bold;
        //         font-family: "FormaDJRDisplay",Helvetica,sans-serif;
        //         margin-bottom: 1.5rem;
        //         color: $theme_blue;
        //         text-decoration: none;
        //     }
        // }
    }

    aside {
        grid-area: sidebar;
    }
}