// Base Colors
$white: #ffffff;
$grey: #f2f2f2;
$light-grey: #aaaaaa;
$black: #000000;
// theme colors
$main: #1F2433;
$theme_blue: #434E6E;
$main_transparent: rgba(31,36,51,.85);
$secondary: #EAD7BA;
$highlight: #e00a28;
$tan: #EAD7BA;
$tan_light: #F4EADB;
$theme_blue_two: #272D40;
$theme_blue_three: #1F2433;
// Font Stacks
$display: 'FormaDJRDisplay', Helvetica, sans-serif;
$micro: 'FormaDJRMicro', Helvetica, sans-serif;
